font-face {
    font-family: "comic";
    src: url("/assets/fonts/comic.ttf") format("truetype");
}

body{
    padding-left: 2cm;
    padding-right: 2cm;
    text-align: center;
    align-items: center;

    background-color: rgb(17, 25, 37);
    color: white;
}