@font-face {
    font-family: "comic";
    src: url("assets/fonts/comic.ttf") format("truetype");
}

body{
    padding-left: auto;
    padding-right: auto;

    background-color: rgb(14, 15, 31);
    color: white;


}